<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div style="display:none;" id="recieptMap">{{ data }}</div>

<table class="table" id="TABLE">
    <tr>
      <th>Quantity</th>
      <th>Description</th>
      <th>Price of Each</th>
      <th>Total Price</th>
    </tr>
</table>

<button onclick="updateReciept()"type="button">NEXT!</button>




<script src="static/reviewReciept.js"></script>
<link rel="stylesheet" href="static/reviewReciept.css">